@import 'fonts';
@import 'vars';
@import 'libs';
@import 'reset';
@import 'global';

.header {
  background-color: $dark-800;

  &__top {
    padding: 13px 0;
    display: flex;
  }

  &__bottom {
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__menu-item:not(:last-child) {
    margin-right: 25px;
  }

  &__link {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: $white;
    line-height: 1.4;
    letter-spacing: 0.03em;
    transition: opacity 0.3s linear;

    &:hover {
      opacity: 0.7;
    }

    &--address,
    &--phone {
      background-position: left center;
      background-repeat: no-repeat;
    }

    &--address {
      background-image: url('../images/icons/header_address.svg');
      padding: 3px 0 3px 45px;
    }

    &--phone {
      background-image: url('../images/icons/header_phone.svg');
      padding: 3px 0 3px 34px;
    }
  }

  &__menu,
  &__items,
  &__top,
  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__dropdown {
    background-color: $white;
    color: $green-900;
    padding: 15px 40px 15px 60px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 0.03em;
    position: relative;
    transition: background-color 0.3s linear;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
    }

    &::before {
      top: 16px;
      left: 18px;
      width: 25px;
      height: 17px;
      background-image: url('../images/icons/catalogue_icon.png');
    }

    &::after {
      top: 23px;
      right: 18px;
      width: 8px;
      height: 4px;
      background-image: url('../images/icons/catalogue_down.svg');
    }

    &:active {
      background-color: $green-200;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &::after {
        background-image: url('../images/icons/catalogue_up.svg');
      }
    }
  }
}

.navigation {
  background-color: $green-900;
  padding: 25px 0;
}

.user-nav {
  display: flex;
  justify-content: space-between;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__num {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    color: $red-900;
    font-size: 10px;
    font-weight: 600;
    line-height: 1.8;
    text-align: center;
    z-index: 10;
  }

  &__link {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $green-900;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    display: block;
    transition: background-color 0.2s linear;

    &:focus {
      background-color: $btn-hover;
      outline: 4px solid $outline;
    }

    &:hover {
      background-color: $btn-hover;
    }

    &:active {
      outline: transparent;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &--account {
      background-image: url('../images/icons/account_account.svg');
    }

    &--wishlist {
      background-image: url('../images/icons/account_wishlist.svg');
      width: 50px;
      height: 50px;
    }

    &--cart {
      background-image: url('../images/icons/account_cart.svg');
    }
  }
}

.search {
  max-width: 590px;
  width: 100%;

  &__btn {
    background-color: $dark-800;
    padding: 15px 52px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    transition: background-color 0.1s linear;

    &:focus {
      outline: 2px solid $outline;
    }

    &:hover {
      background-color: $dark-500;
    }

    &:active {
      background-color: $dark-800;
      color: $dark-500;
    }
  }

  &__input {
    max-width: 420px;
    width: 100%;
    padding: 15px 20px 15px 50px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border: 0;
    font-size: 14px;
    line-height: 1.4;
    color: $dark-800;
    background-image: url('../images/icons/search.svg');
    background-position: 4% center;
    background-repeat: no-repeat;

    &::placeholder {
      color: $dark-800;
    }
  }
}

.main-slider {
  &__content {
    max-width: 1290px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    border-radius: 6px;
    margin: 0 auto;
    padding: 24px;
  }

  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 142px 0;
    height: 600px;
  }

  &__inner {
    display: flex;
  }

  &__title {
    @extend %Ruda-900;
    color: $dark-500;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 860px;
  }

  &__subtitle {
    color: $red-900;
  }

  &__text {
    line-height: 1.4;
    margin-bottom: 30px;
  }

  &__btn {
    background-color: $green-900;
    display: inline-block;
    transition: background-color 0.3s linear;

    &:focus {
      outline: 4px solid $outline;
    }

    &:hover {
      background-color: $btn-hover;
    }

    &:active {
      color: $outline;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.slick-prev,
.slick-next {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s linear;

  &:focus,
  &:hover,
  &:active {
    background-color: $green-200;
    color: $green-900;
    border: 1px solid $green-900;

    path {
      fill: $green-900;
    }
  }
}

.slick-prev {
  left: 60px;
}

.slick-next {
  right: 60px;
}

.benefits {
  background-color: $silver-100;
  padding: 40px 0;

  &__list {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.4;
  }

  &__title {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 6px;
    color: $dark-900;
  }

  &__item {
    max-width: 255px;
    width: 100%;
    padding-left: 70px;

    &--free,
    &--return,
    &--support {
      background-position: left top;
      background-repeat: no-repeat;
    }

    &--free {
      background-image: url('../images/benefits_free.svg');
    }

    &--return {
      background-image: url('../images/benefits_return.svg');
      margin: 0 65px;
    }

    &--support {
      background-image: url('../images/benefits_support.svg');
    }

  }
}

.products__filter {
  margin-bottom: 42px;
  display: flex;
  justify-content: center;

  &-item:not(:last-child) {
    margin-right: 24px;
  }

  &-btn {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-500;
    padding-bottom: 2px;
    border-bottom: 3px solid $white;
    transition: border-color 0.2s linear;

    &:focus,
    &:hover,
    &:active {
      border-bottom: 3px solid $outline;
      outline: transparent;
    }
  }
}

.products-top {
  margin-top: 70px;
  text-align: center;

  &__list {
    text-align: left;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 30px;
  }
}

.product-card {
  position: relative;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  border: 1px solid $silver-600;
  border-radius: 6px;
  max-width: 300px;
  height: 409px;
  padding-top: 56px;
  transition: border-color 0.2s linear;

  &:hover {
    border: 1px solid $green-900;
  }

  &__badges {
    position: absolute;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 3px 6px;
    border-radius: 6px;
    left: 1px;
    top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;

    &--new,
    &--hit,
    &--discount {
      background-color: $green-900;
      position: relative;
      display: block;
    }

    &--hit {
      background-color: $orange-900;
    }

    &--discount {
      background-color: $red-900;
    }
  }

  &__name {
    padding: 18px 18px 9px;
    max-height: 90px;
    height: 100%;
    overflow: hidden;
    font-weight: 600;
    line-height: 1.4;
    font-size: 14px;
    display: block;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $dark-500;
    padding: 0 18px 18px;
  }

  &__cart {
    width: 32px;
    height: 32px;
    background-color: $green-900;
    background-image: url('../images/icons/cart.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    transition: background-color 0.3s linear;

    &:focus {
      background-color: $green-900;
      outline: 4px solid $outline;
    }

    &:hover {
      background-color: $btn-hover;
    }

    &:active {
      outline: transparent;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__price {
    color: $dark-500;
  }

  &__price--old {
    color: $silver-600;
    padding-bottom: 3px;
    position: relative;
  }

  &__price--old:before {
    position: absolute;
    content: "";
    left: 0;
    top: 40%;
    right: 0;
    border-top: 1px solid $silver-600;
    transform: rotate(-12deg);
  }

  &__wish {
    position: absolute;
    top: 12px;
    right: 12px;

    path {
      transition: fill 0.5s linear;
    }

    &:hover {
      path {
        fill: $orange-900;
      }
    }
  }
}

.show_btn {
  background-color: $white;
  color: $green-900;
  border: 1px solid $green-900;
  outline: transparent;
  transition: background-color 0.3s linear;

  &:focus {
    outline: 4px solid $outline;
  }

  &:hover {
    background-color: $silver-100;
  }

  &:active {
    color: $outline;
    box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
  }
}

.offers {
  padding: 70px 0;

  &__items {
    display: grid;
    min-height: 300px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 30px;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    padding-left: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;

    &-category {
      font-size: 12px;
      margin-bottom: 18px;
      letter-spacing: 0.1em;
    }

    &-title {
      font-size: 30px;
      line-height: 1.4;
      margin-bottom: 12px;
      @extend %Ruda-700;
      max-width: 200px;
    }

    &-link {
      width: fit-content;
      padding-bottom: 6px;
      font-size: 14px;
      border-bottom: 2px solid $dark-500;
    }

    &--big {
      color: $white;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

      .offers__item-title {
        max-width: 400px;
      }

      .offers__item-link {
        border-bottom: 2px solid $white;
      }
    }
  }
}

.logo_drinks {
  padding: 70px 0;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.footer {
  background-color: $dark-800;
  font-size: 14px;
  line-height: 1.4;
  color: $white;

  &__top {
    padding: 30px 0;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  &__bottom {
    border-top: 1px solid $dark-500;
    padding: 24px 0;
    text-transform: uppercase;
  }

  &__menu {
    columns: 190px 3;

    &-item {
      margin-bottom: 18px;
    }

    &-link:focus,
    &-link:hover,
    &-link:active {
      opacity: 0.7;
      outline: transparent;
    }
  }

  &__contacts a {
    display: block;
    margin-bottom: 18px;
  }

  &__social {
    display: flex;

    &-item:not(:last-child) {
      margin-right: 18px;
    }

    &-item:first-child {
      margin-right: 0;
    }

    &-link {
      width: 33px;
      height: 32px;
      display: block;
      transition: opacity 0.2s linear;
      background-repeat: no-repeat;

      &:hover {
        opacity: 0.7;
      }

      &--facebook {
        background-image: url('../images/icons/footer_facebook.svg');
      }

      &--youtube {
        background-image: url('../images/icons/footer_youtube.svg');
      }

      &--telegramm {
        background-image: url('../images/icons/footer_telegram.svg');
      }

      &--instagramm {
        background-image: url('../images/icons/footer_insta.svg');
      }
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cards {
    display: flex;

    &-item {
      &--visa {
        background-image: url('../images/icons/footer_visa.svg');
        width: 117px;
        height: 29px;
        background-repeat: no-repeat;
      }

      &--master {
        background-image: url('../images/icons/footer_master.svg');
        width: 49px;
        height: 29px;
      }
    }
  }
}

.subscribe {
  max-width: 450px;
  width: 100%;

  &__form {
    padding-top: 18px;
  }

  &__input {
    max-width: 180px;
    width: 100%;
    padding: 9px 12px 12px 12px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border: 0;
    font-size: 14px;
    line-height: 1;
    color: $dark-800;
  }

  &__btn {
    padding: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.2s linear;
    margin-left: -4px;

    &:focus {
      outline: 4px solid $outline;
    }

    &:hover {
      background-color: $btn-hover;
    }

    &:active {
      color: $outline;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

@import 'media';